.generalContainer{
    display:flex;
}

.NavBarlist{
   display:flex;
}

.NavBarul{
    display:flex;
    margin-top:38px;
    margin-left: 130px;
    margin-right:40px;
}

.NavBaritem{
    list-style: none;
    padding-right: 55px;
    display: inline-block;
}

.listlink{
    text-decoration: none;
    color:black;
}

.listlink:hover{
    text-decoration-line:underline; text-decoration-color: red; text-decoration-thickness: 3px ;
}

.login{
    margin-left: 78px;
    margin-top:25px;
    margin-right:10px;
    background:wheat;
    float:right;
    border:none;
    border-radius:30px;
    cursor:pointer;
    width: 90px;
    height:50px;
    font-size: 15px;
}

.login:hover{
    background:sandybrown;
}

.Logo{
    font-size: 22px;
    float:left;
    margin-top: 33px;
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
    color:black;
}